doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header.jade
        include modal
        main.wrapper
            .booklet
                .bookletBanner
                    .content
                        .toptext.text-center Cẩm nang Eduspace
                    .container
                        .bookletNav
                            .cell
                                a(href='') Title cẩm nang 1
                            .cell
                                a(href='') Title cẩm nang 2
                            .cell
                                a(href='') Title cẩm nang 3
                            .cell
                                a(href='') Title cẩm nang 4
                            .cell
                                a(href='') Title cẩm nang 5
                            .cell
                                a(href='') Title cẩm nang 6
                            .cell
                                a(href='') Title cẩm nang 7
                            .cell
                                a(href='') Title cẩm nang 8
                        .layer2.bookletNav_mobile
                            .dropdown
                                #booklet_mobile.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    | Danh mục cẩm nang
                                .dropdown-menu(aria-labelledby='booklet_mobile')
                                    a(href='') Title cẩm nang 1
                                    a(href='') Title cẩm nang 2
                                    a(href='') Title cẩm nang 3
                                    a(href='') Title cẩm nang 4
                                    a(href='') Title cẩm nang 5
                                    a(href='') Title cẩm nang 6
                                    a(href='') Title cẩm nang 7
                                    a(href='') Title cẩm nang 8


                .bookletArticle
                    .container
                        .col-sm-12.hidden

                                .r_img
                                    img(src='images/r_art.svg')
                                .text
                                    a(href='') Hướng dẫn lập kế hoạch xây dựng nội dung ...
                                    .date.text-muted 21 Th06, 2020
                        .col-sm-12.hidden

                                .r_img
                                    img(src='images/r_art.svg')
                                .text
                                    a(href='') Hướng dẫn lập kế hoạch xây dựng nội dung ...
                                    .date.text-muted 21 Th06, 2020
                        .col-sm-12.hidden

                                .r_img
                                    img(src='images/r_art.svg')
                                .text
                                    a(href='') Hướng dẫn lập kế hoạch xây dựng nội dung ...
                                    .date.text-muted 21 Th06, 2020
                        .col-sm-12.hidden

                                .r_img
                                    img(src='images/r_art.svg')
                                .text
                                    a(href='') Hướng dẫn lập kế hoạch xây dựng nội dung ...
                                    .date.text-muted 21 Th06, 2020
                        .col-sm-8.left
                            #left_head
                                .row
                                    a.img(href='').col-sm-4
                                        img(src='/images/article1.svg').img-fluid
                                    .text.col-sm-8
                                        a(href='') Hướng dẫn lập kế hoạch xây dựng nội dung trường học trực tuyến
                                        .time.text-muted
                                            .date 21 Th06, 2020
                                            .slash |
                                            .cmt 08 bình luận
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries ...
                            ._1block
                                .row
                                    a.img(href='').col-sm-4
                                        img(src='/images/article2.svg').img-fluid
                                    .text.col-sm-8
                                        a(href='') Hướng dẫn lập kế hoạch xây dựng nội dung trường học trực tuyến
                                        .time.text-muted
                                            .date 21 Th06, 2020
                                            .slash |
                                            .cmt 08 bình luận
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a ...
                            ._1block
                                .row
                                    a.img(href='').col-sm-4
                                        img(src='/images/article2.svg').img-fluid
                                    .text.col-sm-8
                                        a(href='') Hướng dẫn lập kế hoạch xây dựng nội dung trường học trực tuyến
                                        .time.text-muted
                                            .date 21 Th06, 2020
                                            .slash |
                                            .cmt 08 bình luận
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a ...
                            ._1block
                                .row
                                    a.img(href='').col-sm-4
                                        img(src='/images/article2.svg').img-fluid
                                    .text.col-sm-8
                                        a(href='') Hướng dẫn lập kế hoạch xây dựng nội dung trường học trực tuyến
                                        .time.text-muted
                                            .date 21 Th06, 2020
                                            .slash |
                                            .cmt 08 bình luận
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a ...
                            ._1block
                                .row
                                    a.img(href='').col-sm-4
                                        img(src='/images/article2.svg').img-fluid
                                    .text.col-sm-8
                                        a(href='') Hướng dẫn lập kế hoạch xây dựng nội dung trường học trực tuyến
                                        .time.text-muted
                                            .date 21 Th06, 2020
                                            .slash |
                                            .cmt 08 bình luận
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a ...

                        .col-sm-4.right
                            ._1card
                                .title.text-center
                                    a(href='plan.html') Kinh nghiệm hay
                            ._1card
                                .title.text-center
                                    a(href='') Thủ thuật
                            .R_article
                                .heading Bài viết gần đây
                                .divider
                                ._1article
                                    .r_img
                                        img(src='images/r_art.svg')
                                    .text
                                        a(href='') Hướng dẫn lập kế hoạch xây dựng nội dung ...
                                        .date.text-muted 21 Th06, 2020
                                ._1article
                                    .r_img
                                        img(src='images/r_art.svg')
                                    .text
                                        a(href='') Hướng dẫn lập kế hoạch xây dựng nội dung ...
                                        .date.text-muted 21 Th06, 2020
                                ._1article
                                    .r_img
                                        img(src='images/r_art.svg')
                                    .text
                                        a(href='') Hướng dẫn lập kế hoạch xây dựng nội dung ...
                                        .date.text-muted 21 Th06, 2020
                                ._1article
                                    .r_img
                                        img(src='images/r_art.svg')
                                    .text
                                        a(href='') Hướng dẫn lập kế hoạch xây dựng nội dung ...
                                        .date.text-muted 21 Th06, 2020
                                ._1article
                                    .r_img
                                        img(src='images/r_art.svg')
                                    .text
                                        a(href='') Hướng dẫn lập kế hoạch xây dựng nội dung ...
                                        .date.text-muted 21 Th06, 2020


                    .container
                        .col-sm-8.nav_page
                            a(href='')
                                i.fas.fa-chevron-left
                            a(href='') 1
                            a(href='') 2
                            a(href='') 3
                            a(href='').navHidden 4
                            a(href='').navHidden 5
                            a(href='')
                                i.fas.fa-chevron-right

        include jades/footer.jade
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/flickity.js')
        script(src='js/index.js')