- var page = "index";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header
        main.wrapper
            section.home
                .banner
                    .container
                        .row.text-center.align-items-center.justify-content-center
                            .col-sm-12
                                .content
                                    .toptext Vận hành trung tâm hiệu quả hơn với Eduspace.vn
                                    .bottext Không giới hạn thời gian dùng thử
                                    button.button(type='button' data-toggle="modal" data-target="#regmod")
                                        a Đăng ký ngay
                            .imgs
                                .row.align-items-center.justify-content-center
                                    img.bg.img-fluid(src='images/lap.svg' alt='')
                                    .orbit.left
                                        img(src='images/EDU.svg' alt='')
                                    .orbit.right
                                        img(src='images/SPACE.svg' alt='')
                .container.banner2
                        .ea
                            .bg
                                img(src='images/icon/quanlyhocvien.svg' alt='')
                                .toptext Quản lý học viên
                        .ea
                            .bg
                                img(src='images/icon/quanlykhachang.svg' alt='')
                                .toptext CRM - Quản lý khách hàng
                        .ea
                            .bg
                                img(src='images/icon/quanlytaichinh.svg' alt='')
                                .toptext E-learning
                .info
                    .container
                        .row
                            .col-sm-6
                                .text
                                    .toptext Eduspace giúp bạn vận hành trung tâm như thế nào?
                                    .divider
                                    .bottext
                                        | Lorem Ipsum is simply dummy text of the printing and
                                        br
                                        |  typesetting industry. Lorem Ipsum has been the industry's
                                        br
                                        |  standard dummy text ever since the 1500s
                            .col-sm-6
                                .video
                                    .layer2
                                    .vid
                                        video(src='' poster='transparent')
                                    .layer3.vid_play_btn
                                        button
                                            img(src='images/icon/mdi_slow_motion_video.svg' alt='')
                .review
                    .container
                        .row.text-center
                            .col-sm-12
                                .toptext Khách hàng nói về Eduspace
                                .divider
                                .eclipse
                                .layer2
                                    .main-carousel
                                        .carousel-cell
                                            .row
                                                .col-sm-6
                                                    .text
                                                        img(src='images/icon/review1.svg' alt='')
                                                        .quote
                                                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                                        .name Delijeh Snyder
                                                        .job Director of Brand & Content Marketing
                                                    .layer2
                                                        img.float-left(src='images/icon/quote_big.svg' alt='')
                                                .col-sm-6
                                                    .text
                                                        img(src='images/icon/review1.svg' alt='')
                                                        .quote
                                                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                                        .name Delijeh Snyder
                                                        .job Director of Brand & Content Marketing
                                                    .layer2
                                                        img.float-left(src='images/icon/quote_big.svg' alt='')


                                        .carousel-cell
                                            .row
                                                .col-sm-6
                                                    .text
                                                        img(src='images/icon/review1.svg' alt='')
                                                        .quote
                                                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                                        .name Delijeh Snyder
                                                        .job Director of Brand & Content Marketing
                                                    .layer2
                                                        img.float-left(src='images/icon/quote_big.svg' alt='')
                                                .col-sm-6
                                                    .text
                                                        img(src='images/icon/review1.svg' alt='')
                                                        .quote
                                                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                                        .name Delijeh Snyder
                                                        .job Director of Brand & Content Marketing
                                                    .layer2
                                                        img.float-left(src='images/icon/quote_big.svg' alt='')


                .sponsor
                    .container
                        .row.text-center.align-items-center.justify-content-center
                            .col-sm-9
                                .headline
                                    .toptext Hàng trăm khách hàng đang vận hành trung tâm hiệu quả với Eduspace
                                    .divider
                        .row.align-items-center.justify-content-center
                            .col-sm-3
                                .logo_s
                                    img.img-fluid(src='images/icon/vietwash.svg' alt='')
                            .col-sm-3
                                .logo_s
                                    img.img-fluid(src='images/icon/thom.svg' alt='')
                            .col-sm-3
                                .logo_s
                                    img.img-fluid(src='images/icon/kombo.svg' alt='')
                            .col-sm-3
                                .logo_s
                                    img.img-fluid(src='images/icon/delta.svg' alt='')
                .info.i2
                    .container
                        .row
                            .col-sm-6
                                .video
                                    .layer2
                                    .vid
                                        video(src='' poster='transparent')
                                    .layer3.vid_play_btn
                                        button
                                            img(src='images/icon/mdi_slow_motion_video.svg' alt='')
                            .col-sm-6
                                .text
                                    .toptext Dễ dàng tương tác với học viên qua tin nhắn zalo
                                    .divider
                                    .bottext
                                        | Lorem Ipsum is simply dummy text of the printing and
                                        br
                                        |  typesetting industry. Lorem Ipsum has been the industry's
                                        br
                                        |  standard dummy text ever since the 1500s
                .banner.b2
                    .container
                        .col-sm-7.text-center.text
                            .toptext Lý do bạn nên sử dụng phần mềm Eduspace
                            .divider
                        .content
                            .row
                                .col-sm-3._1block
                                    .img
                                        img(src='images/icon/24px_phone-call 1.svg')
                                    .text
                                        .toptext Tư vẫn hỗ trợ 24/7
                                        .bottext Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                .col-sm-3._1block
                                    .img
                                        img(src='images/icon/32px_l-security 1.svg')
                                    .text
                                        .toptext Bảo mật dữ liệu an toàn
                                        .bottext Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                .col-sm-3._1block
                                    .img
                                        img(src='images/icon/server-refresh 1.svg')
                                    .text
                                        .toptext Sản phẩm luôn được cập nhật
                                        .bottext Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                .col-sm-3._1block
                                    .img
                                        img(src='images/icon/single-neutral-actions-money 1.svg')
                                    .text
                                        .toptext Chính sách hoàn hủy linh hoạt
                                        .bottext Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s

                .info.i2
                    .container
                        .row
                            .col-sm-6
                                .text
                                    .toptext.t2 Báo chí nói về Eduspace
                                    .divider
                                    .bottext
                                        | Lorem Ipsum is simply dummy text of the printing and typesetting
                                        br
                                        |  industry. Lorem Ipsum has been the industry's standard dummy text ever
                                        br
                                        |  since the 1500s
                                    .ref Xem thêm các báo nói về Eduspace
                                    ul.link
                                        li
                                            a(href='') Báo thanh niên nói về Eduspace
                                        li
                                            a(href='') Báo dân trí nói về Eduspace
                            .col-sm-6
                                .video
                                    .layer2
                                    .vid
                                        video(src='' poster='transparent')
                                    .layer3.vid_play_btn
                                        button
                                            img(src='images/icon/mdi_slow_motion_video.svg' alt='')
                .banner3
                    .container
                        .row.text-center.align-items-center.justify-content-center
                            .col-sm-12
                                .toptext Rút ngắn thời gian quản lý của bạn
                                .bottext Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                button.button.mt-4
                                    a.btn.text-white(data-toggle="modal" data-target="#regmod") Đăng ký dùng thử miễn phí
        include modal.jade
        include jades/footer.jade
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/flickity.js')
        script(src='js/index.js')





