- var page = "index";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header
        main.wrapper
            .banner
                .container
                    .row.text-center.align-items-center.justify-content-center
                        .col-sm-12
                            .content
                                .toptext Vận hành trung tâm hiệu quả hơn với Eduspace.vn
                                .bottext Không giới hạn thời gian dùng thử
                                button.button( data-toggle="modal" data-target="#regmod")
                                    a Đăng ký ngay
                        .imgs
                            .row.align-items-center.justify-content-center
                                img.bg.img-fluid(src='images/lap.svg' alt='')
                                .orbit.left
                                    img(src='images/EDU.svg' alt='')
                                .orbit.right
                                    img(src='images/SPACE.svg' alt='')
            .bannerSub
                .container.grid
                    .ea
                        img(src='images/icon/quanlyhocvien.svg' alt='')
                        .toptext Quản lý học viên
                    .ea
                        img(src='images/icon/quanlyhocvien.svg' alt='')
                        .toptext Quản lý học viên
                    .ea
                        img(src='images/icon/quanlyhocvien.svg' alt='')
                        .toptext Quản lý học viên
        //include jades/footer
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/flickity.js')
        script(src='js/index.js')





