#regmod.modal.fade(tabindex='-1' role='dialog' aria-labelledby='regmod' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true')
            .modal-body
                .row
                    .col-sm-6.mod_bg
                        img.modal_logo(src='images/icon/reg_icon.svg' alt='')
                        .bg_layer2
                    .col-sm-6
                        .input
                            .toptext.t3 Đăng ký dùng thử miễn phí
                            .row
                                .col-sm-9
                                    input.form-control(type='text' name='' placeholder='Tên miền con' aria-describedby='helpId')
                                .col-sm-3.text-right
                                    .domain .eduspace.vn
                            p VD: abc.eduspace.vn
                            .col-sm-12
                                input.form-control(type='text' name='' placeholder='Họ và tên' aria-describedby='helpId')
                            .col-sm-12
                                input.form-control(type='text' name='' placeholder='Số điện thoại' aria-describedby='helpId')
                            .col-sm-12
                                input.form-control(type='text' name='' placeholder='Email' aria-describedby='helpId')
                            .col-sm-12
                                input.form-control(type='text' name='' placeholder='Mật khẩu' aria-describedby='helpId')
                            .col-sm-12
                                input.form-control(type='text' name='' placeholder='Nhập lại mật khẩu' aria-describedby='helpId')
                            .col-sm-12
                                img(src='images/captcha.svg' alt='')
                            .col-sm-12
                                button.btn.btn-block
                                    a(href='reg_success.html') Đăng kí ngay
