
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        include jades/header.jade
        main.wrapper
            .price
                .priceBanner
                    .container
                        .col-sm-12.text-center
                            .content
                                .toptext Phí dịch vụ
                .packs
                    .container
                        .row
                            .ea.free
                                .packsName.text-center
                                    div Gói
                                    .fee Free
                                .packsContent.text-center
                                    .packsPrice
                                        div Miễn phí
                                        .duration (Không giới hạn)
                                    .packsDes
                                        .capacity Số lượng học viên: 30
                                        .data Dung lượng: 0 GB
                                    a.button(href='#') Đăng kí ngay
                            .ea.free
                                .packsName.text-center
                                    div Gói
                                    .fee Free
                                .packsContent.text-center
                                    .packsPrice
                                        div Miễn phí
                                        .duration (Không giới hạn)
                                    .packsDes
                                        .capacity Số lượng học viên: 30
                                        .data Dung lượng: 0 GB
                                    a.button(href='#') Đăng kí ngay
                            .ea.free
                                .packsName.text-center
                                    div Gói
                                    .fee Free
                                .packsContent.text-center
                                    .packsPrice
                                        div Miễn phí
                                        .duration (Không giới hạn)
                                    .packsDes
                                        .capacity Số lượng học viên: 30
                                        .data Dung lượng: 0 GB
                                    a.button(href='#') Đăng kí ngay
                            .ea.free
                                .packsName.text-center
                                    div Gói
                                    .fee Free
                                .packsContent.text-center
                                    .packsPrice
                                        div Miễn phí
                                        .duration (Không giới hạn)
                                    .packsDes
                                        .capacity Số lượng học viên: 30
                                        .data Dung lượng: 0 GB
                                    a.button(href='#') Đăng kí ngay
                            .ea.free
                                .packsName.text-center
                                    div Gói
                                    .fee Free
                                .packsContent.text-center
                                    .packsPrice
                                        div Miễn phí
                                        .duration (Không giới hạn)
                                    .packsDes
                                        .capacity Số lượng học viên: 30
                                        .data Dung lượng: 0 GB
                                    a.button(href='#') Đăng kí ngay
        include jades/footer.jade
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/flickity.js')
        script(src='js/index.js')