.main-carousel {
    width: 100%; /* full width */
    height: 160px; /* height of carousel */
    margin-right: 10px;
}

.carousel-cell {
    width: 50%; /* half-width */
    height: 160px;
    margin-right: 10px;
    background-color: aqua;
}

.row {
    margin: 0!important;
}
.feature {
    width: fit-content;
}
.column {
    width: fit-content;
    text-align: center;
    margin: 0 1rem;
}