.toptext {
    color: $primary-color;
    font-weight: $normal;
    font-family: "Roboto", sans-serif;
}

.bottext {
    color: $secondary-color;
    font-weight: $regular;
    font-family: "Roboto", sans-serif;
}