.price {
    margin-top: 5rem;
    &Banner {
        background: linear-gradient(rgba($primary-color, 0.6), rgba($primary-color,0.6)), url("/images/price_bg.svg");
        background-size: cover;
        .content {
            padding: 7rem;
            .toptext {
                color: white;
            }
        }
    }
    .packs {
        margin-top: 4rem;
    }
    .ea {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
        width: 18%;
        margin-right: 2%;
        &:last-child {
            margin-right: 0;
        }
        .packsName {
            color: $accent-color;
            padding: 0.5rem 0;
            .fee {
                font-size: $font-sm;
            }
        }
        .packsPrice {
            margin: 2rem 0;
            color: $primary-color;
            font-weight: $regular;
            .duration {
                font-style: italic;
                //color: $primary-color;
                font-size: $font-xs;
            }
        }
        .packsDes {
            .capacity {
                margin-bottom: 2rem;
            }
            .data {
                margin-bottom: 4rem;
            }
        }
        .button {
            display: block;
            padding: 0.8rem 2rem;
            margin: 1.5rem 1rem;
            color: $accent-color;
            @include trans-ease;
            &:hover {
                text-decoration: none;
                background: $button-color;
            }
        }
    }
    #free {
        .packsName, .button {
            background: #3781af;
        }
    }
    #small {
        .packsName, .button {
            background: #2c74a4;
        }
    }
    #plus {
        .packsName, .button {
            background: #216493;
        }
    }
    #basic {
        .packsName, .button {
            background: #185482;
        }
    }
    #premium {
        .packsName, .button {
            background: #0a3963;
        }
    }
    .note {
        font-size: $font-xs;
        color: #616161;
        font-style: italic;
        margin: 2rem 0 7.75rem 0;
    }
}