footer
  .container
    .row
      .col-sm-4
        .card
          .card-body
            h4.card-title Công ty TNHH công nghệ Eduspace
            p.img
              img(src='images/image 8.svg' alt='')
            p.card-text Giấy chứng nhận ĐKKD số: 0108438938 do Sở KHĐT Tp. Hà Nội cấp ngày 26/09/2018 
            p.card-text Người đại diện: Phạm Đức Quang
      .col-sm-2
        .card
          .card-body
            h4.card-title Eduscape
            p.card-text
              a(href='') Giới thiệu
            p.card-text
              a(href='') Tính năng
            p.card-text
              a(href='') Cẩm nang
            p.card-text
              a(href='') Hỗ trợ
            p.card-text
              a(href='') Đăng kí
      .col-sm-2
        .card
          .card-body
            h4.card-title Doanh nghiệp
            p.card-text
              a(href='') Hướng dẫn
            p.card-text
              a(href='') Phí dịch vụ
            p.card-text
              a(href='') Điều khoản và điều kiện
            p.card-text
              a(href='') Chính sách riêng tư
            p.card-text
              a(href='') Download
      .col-sm-4
        .card
          .card-body
            h4.card-title Liên hệ
            p.card-text
              img.contact_icon(src='images/icon/gps.svg' alt='')
              a.contact(href='') Số 44/120 Trường Chinh Đống Đa Hà Nội
            p.card-text
              img.contact_icon(src='images/icon/phone.svg' alt='')
              a.contact(href='') 0896465225
            p.card-text
              img.contact_icon(src='images/icon/mail.svg' alt='')
              a.contact(href='') hotro@eduspace.vn
            p.card-text
              a(href='')
                img(src='images/icon/Facebook.svg' alt='' style='margin-right: 1rem')
              a(href='')
                img(src='images/icon/Youtube.svg' alt='')
  .f2.text-center
    div Bản quyền © 2020 Eduspace.vn

