footer
  .container
    .f1
      .card
        .card-body
          .card-title Công ty TNHH công nghệ Eduspace
          a.img(href='')
            img(src='images/image 8.svg' alt='')
          .col-sm-11.card-text Giấy chứng nhận ĐKKD số: 0108438938 do Sở KHĐT Tp. Hà Nội cấp ngày 26/09/2018
          .card-text Người đại diện: Phạm Đức Quang
      .card
        .card-body
          .card-title(type='button')#c2 Eduscape
          .card-text.hidden
            a(href='') Giới thiệu
          .card-text.hidden
            a(href='') Tính năng
          .card-text.hidden
            a(href='') Cẩm nang
          .card-text.hidden
            a(href='') Hỗ trợ
          .card-text.hidden
            a(href='') Đăng kí
      .card
        .card-body
          .card-title(type='button')#c3 Doanh nghiệp
          .card-text.hidden
            a(href='') Hướng dẫn
          .card-text.hidden
            a(href='') Phí dịch vụ
          .card-text.hidden
            a(href='') Điều khoản và điều kiện
          .card-text.hidden
            a(href='') Chính sách riêng tư
          .card-text.hidden
            a(href='') Download
      .card
        .card-body
          .card-title(type='button')#c4 Liên hệ
          .card-text.hidden
            .contact#adress Số 44/120 Trường Chinh Đống Đa Hà Nội
          .card-text.hidden
            .contact#phone 0896465225
          .card-text.hidden
            .contact#mail hotro@eduspace.vn
          .card-text.social.hidden
            a(href='')
              img(src='images/icon/Facebook.svg' alt='' style='margin-right: 1rem')
            a(href='')
              img(src='images/icon/Youtube.svg' alt='')
  .f2.text-center
    div Bản quyền © 2020 Eduspace.vn

