
.nav1
    nav#mainnav.navbar.navbar-expand-lg.navbar-light.fixed-top
        .container
            a.brand(href='index.html')
                img(src='images/logo.svg' alt='')
            button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul#upmenu.navbar-nav.ml-auto.my-2.my-lg-0
                    li.nav-item
                        a.nav-link(href='intro.html') Giới thiệu
                    li.nav-item
                        .dropdown
                            #menu.dropdown-toggle.nav-link(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Tính năng
                            .dropdown-menu(aria-labelledby='menu')
                                .feature
                                    .container
                                        .row
                                            .col-sm-4.column
                                                .header#student Quản lí học viên
                                                .card
                                                    .card-title Quản lí học viên 1
                                                    .card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                .card
                                                    .card-title Quản lí học viên 2
                                                    .card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                .card
                                                    .card-title Quản lí học viên 3
                                                    .card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.


                                            .col-sm-4.column
                                                .header#customer Quản lí khách hàng
                                                .card
                                                    .card-title Quản lí nhân viên 1
                                                    .card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                .card
                                                    .card-title Quản lí nhân viên 2
                                                    .card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                .card
                                                    .card-title Quản lí nhân viên 3
                                                    .card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            .col-sm-4.column
                                                .header#elearning E-learning
                                                .card
                                                    .card-title Quản lí tài chính 1
                                                    .card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                .card
                                                    .card-title Quản lí tài chính 2
                                                    .card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                .card
                                                    .card-title Quản lí tài chính 3
                                                    .card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.



                    li.nav-item
                        a.nav-link(href='booklet.html') Cẩm nang
                    li.nav-item
                        a.nav-link(href='') Hỗ trợ
                    li.nav-item
                        a.nav-link(href='price.html') Phí dịch vụ
                    li.nav-item.button(type='button' data-toggle="modal" data-target="#regmod")
                        a.nav-link Đăng ký

