.banner {
    padding: 7rem 0 4rem 0;
    background: url('/images/banner_bg.svg') no-repeat;
    background-size: 100%, auto;
    .bottext {
        margin: 1rem 0 2rem 0;
    }
    .button {
        padding: 13px 32px;
        margin-bottom: 54px;
        a {
            color: $accent-color;
        }
    }
    .imgs {
        width: 100%;
        position: relative;
    }
    .orbit {
        position: absolute;
        &.left {
            top: 3rem;
            left: 2rem;
        }
        &.right {
            bottom: -2rem;
            right: 2rem;
        }
    }
}
.bannerSub {
    width: 100%;
    .ea {
        @include trans-ease;
        width: 364px;
        height: 204px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 0.5rem;
        &::before {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: -18px;
            left: 50%;
            transform: translateX(-18px);
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
            border-bottom: 18px solid $accent-color;
            @include trans-ease;
        }
        .toptext {
            color: $primary-color;
            margin-top: 1rem;
            font-size: $font-sm;
        }
        &:hover {
            background: $primary-color;
            .toptext {
                color: $accent-color;
            }
            &::before {
                border-bottom: 18px solid $primary-color;
            }
        }
    }
}






@include breakpoint(max-md) {
    .orbit {
        display: none;
    }
}
@include breakpoint(xs) {
    .banner {
        .toptext {
            font-size: $font-sm;
        }
        .bottext {
            font-size: $font-xs;
        }
    }
}
@include  breakpoint(sm) {
    .banner {
        .toptext {
            font-size: $font-md;
        }
        .bottext {
            font-size: $font-sm;
        }
    }
}
@include breakpoint(md) {
    .banner {
        .toptext {
            font-size: $font-lg;
        }
        .bottext {
            font-size: $font-sm;
        }
    }
}