.review {
    margin-bottom: 3rem;
    .divider {
        margin: auto;
    }
    .main-carousel {
        margin: 2rem auto;
        width: 80%;
    }
    .text {
        background: $primary-color;
        width: 100%;
        padding: 2rem 0.5rem;
        color: $accent-color;
        font-weight: $normal;
        img {
            margin-bottom: 2rem;
        }
        .name {
            margin-top: 1rem;
        }
        .job {
            font-size: $font-xs;
            font-weight: 400;
        }
    }
    .quote {
        position: relative;
        &::before {
            content: '“';
            position: absolute;
            top: -4rem;
            left: 0;
            font-size: 4rem;
            font-family: 'Rokkitt', serif;
        }
    }
    .layer2 {
        width: fit-content;
        height: fit-content;
        left: 1rem;
    }
    .carousel-cell {
        width: fit-content;
        height: fit-content;
    }
}