.sponsor {
    margin-bottom: 3rem;
    .toptext {
        font-size: $font-md;
    }
    .divider {
        margin: 1rem auto 2.5rem;
    }
    .logo_s {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}