.navbar {
    background: $accent-color;
    align-items: baseline;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    #upmenu {
        align-items: baseline;
        .button {
            padding: 5px 24px;
            .nav-link {
                color: $accent-color;
                font-size: $font-xs;
            }
        }
        li {
            margin-left: 3rem;
        }
        .nav-link {
            color: #757575;
            font-size: $font-xs;
        }
    }
}
