.navbar {
  background: $accent-color;
  font-family: $font-primary;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  #upmenu {
    align-items: baseline;
  }
  .nav-item {
    margin-left: 3rem;
  }
  .nav-link {
    color: $secondary-color;
    font-size: 14px;
    font-weight: $normal;
  }
  .button {
    padding: 5px 24px;
    .nav-link {
      color: $accent-color!important;
    }
  }
}